<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="alacritty" />
  <package id="alacritty.install" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-misc-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="chocolateygui" />
  <package id="cinebench" />
  <package id="cpu-z" />
  <package id="cpu-z.install" />
  <package id="crystaldiskinfo" />
  <package id="crystaldiskinfo.portable" />
  <package id="crystaldiskmark" />
  <package id="curl" />
  <package id="ffmpeg" />
  <package id="Firefox" />
  <package id="git" />
  <package id="git.install" />
  <package id="gpu-z" />
  <package id="intel-mas" />
  <package id="intelpowergadget" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="keepassxc" />
  <package id="logitech-options" />
  <package id="makemkv" />
  <package id="occt" />
  <package id="pandoc" />
  <package id="prime95" />
  <package id="python3" />
  <package id="samsung-magician" />
  <package id="speedfan" />
  <package id="steam" />
  <package id="steam-client" />
  <package id="vlc" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="windirstat" />
  <package id="wiztree" />
</packages>