# this should be very similar to https://github.com/conda-forge/bsos-feedstock/blob/master/recipe/meta.yaml
# run the following command to create a conda environment that is suitable for testing bsos
# conda env create -f environment.yml
# conda activate bsos
# python -m ipykernel install --user --name bsos --display-name bsos
# and then run this to install bsos in editable mode
# python -m pip install --no-dependencies -e .
# update using
# conda env update --name bsos --file environment.yml --prune
name: bsos
channels:
  - conda-forge
dependencies:
  # host:
  - pip
  - python>=3.14.2
  - poetry
  # run:
  - defopt
  - numpy
  - pandas
  - psutil
  - conda
  - map_parallel
  # run_constrained:
  - coloredlogs
  # tests:
  - coverage
  - coveralls
  - pytest
  # docs:
  - sphinx
  - sphinx_bootstrap_theme
  - sphinxcontrib-apidoc
  - nbsphinx
  - lxml-html-clean
  - ipykernel
  - pantable
  # dev:
  - pandoc
  - isort
  - mypy
  - bandit
  - black
  - bump2version
  - ghp-import
  - nbconvert
  - pylint
  - rstcheck
  - types-pyyaml
